<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:sqlite:client.db</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="Cliente"/>
    </session-factory>
</hibernate-configuration>
